extends ../components/layout

append variables
    - const bodyId = 'benefits-play';

block body
    article.benefits-program.benefits-program--play
        header
            div
                h2
                    span 2023 여행가는 달 특별할인혜택
                    strong 교통혜택
                p 국내여행 준비중이라면?<br>여행가는 달에서 준비한 교통혜택을 챙겨가세요!
        div
            section
                div
                    p 여행가는 달
                div
                    p 코레일
                div
                    dl
                        div
                            dt 판매기간
                            dd 월 일
                div
                    ul
                        li 이용일 기준



