extends ../components/layout

append variables
    - const bodyId = 'benefits-stay';

block body
    article.benefits-program.benefits-program--stay
        header
            div
                h2
                    span 2023 여행가는 달 특별할인혜택
                    strong 숙박혜택
                p 여행의 완성은 잠자리!<br>역대급 숙박혜택을 확인하세요!
        section(data-theme="stay")
            div
                h3.
                    #[span 여행가는 달]
                    전국 숙박 할인
                    #[strong 등록된 국내 숙박시설 이용 시 할인]
                div
                    h4 하나. [지역편] 12개 광역시도* 숙박 5만원 할인
                    p 온라인으로 7만원 초과 숙박 상품 예약 시 5만원 쿠폰 제공
                    p * 12개 지자체 (경기·경남·경북·강원·부산·대구·대전·인천·전북·전남·충남·충북) 지역에 한정
                dl
                    div
                        dt 판매 기간
                        dd 5.30(화) ~ 6.1(목)
                    div
                        dt 사용기간
                        dd 5.30(화) ~ 7.14(목)

                div
                    h4 둘. [전국편] 전국 숙박 3만원 할인
                    p 온라인으로 5만원 초과 숙박 상품 예약 시 3만원 쿠폰 제공
                dl
                    div
                        dt 판매 기간
                        dd 6.2(금) ~ 6.30(금)
                    div
                        dt 사용기간
                        dd 6.2(금) ~ 7.14(금)

            div
                div
                    h5.
                        #[span 소중한 여행의 시간]
                        여행가는달에 함께해요!
                    dl
                        dt 숙박상품
                        dd #[strong 3~5#[span 만원]] 할인
                p
                    a(href="#" data-gtag-category="숙박혜택" data-gtag-action="") 할인혜택 보러가기
                ul
                    li 예산 소진 시 조기 마감 가능

        section(data-theme="promotion")
            div
                h3.
                    #[span 여행가는 달]
                    한국관광 품질인증숙소 <br>
                    할인 프로모션
                div
                    h4 한국관광 품질인증을 받은 숙박업소 이용 시 예약 건당 50% 할인
            div
                div
                    h5.
                        #[span 6월, 여행가는 달에]
                        마음 편히 떠나요~
                    dl
                        dt 1인당 최대 5만원 한도 내
                        dd #[strong 50#[span %]] 할인
                p
                    a(href="#" data-gtag-category="숙박혜택" data-gtag-action="") 할인혜택 보러가기
            div
                dl
                    div
                        dt 판매 기간
                        dd 6.14(수) ~ 6.30(금)
                    div
                        dt 사용기간
                        dd 6.14(수) ~ 7.14(금)
            div
                ul
                    li 예산 소진 시 조기 마감 가능

        section(data-theme="camping")
            div
                h3.
                    #[span 여행가는 달]
                    만만한 캠핑 <br>
                    캠핑장 할인
                div
                    h4.
                        네이버 플레이스를 통해 등록 야영장 예약 시 <br>
                        이용완료한 고객 선착순 1만명 대상 <br>
                        네이버페이 포인트 1만원 지급
            div
                div
                    h5.
                        #[span 등록 캠핑장에서 안전하게 즐기는]
                        힐링 캠핑!
                    dl
                        dt 예약 건당
                        dd #[strong 1#[span 만원]] 할인
                p
                    a(href="#" data-gtag-category="숙박혜택" data-gtag-action="") 할인혜택 보러가기
            div
                dl
                    div
                        dt 판매 기간
                        dd 5.24(수) ~ 6.30(금)
                    div
                        dt 사용기간
                        dd 6.1(목) ~ 6.30(금)
            div
                ul
                    li.
                        이용 기간 내에 네이버 플레이스 예약 기능으로 <br>
                        캠핑장 예약 및 이용(퇴실)까지 완료한 기준
                    li 선착순 인원 달성 혹은 예산 소진 시 조기 마감 가능

        section(data-theme="vacation")
            div
                h3.
                    #[span 여행가는 달]
                    근로자 휴가지원을 위한 <br>
                    ‘휴가샵’
                div
                    h4.
                        ‘휴가샵’ 내 숙박·여행상품 패키지 등 <br>
                        최대 50% 할인 <br>
                        1인당 최대 5만원 할인
            div
                div
                    h5.
                        #[span 휴식이 필요한 대한민국의]
                        ‘쉼표가 있는 삶’을 위해
                    dl
                        dt 1인당 최대
                        dd #[strong 5#[span 만원]] 할인
                p
                    a(href="#" data-gtag-category="숙박혜택" data-gtag-action="") 할인혜택 보러가기
            div
                dl
                    div
                        dt 판매 기간
                        dd 6.1(목) ~ 6.30(금)
                    div
                        dt 사용기간
                        dd 6.1(목) ~ 6.30(금)
            div
                ul
                    li.
                        본 프로모션은 근로자 휴가지원사업 <br>
                        ‘휴가샵’ 이용자 대상으로 진행됩니다
                    li 예산 소진 시 조기 마감 가능
        section(data-theme="hotels")
            div
                h3.
                    #[span 호텔스컴바인]

                div
                    h4.
                        주요 관광지별 추천호텔 예약 시 특가 제공 및 <br>
                        추가 네이버N포인트 5% 적립
                    p 할인기간 : 6. 1.(목) ~ 6. 30.(금)
            div
                div
                    h4
                        img(src="/travelmonth/assets/images/@temp/logo_hotels.png" alt="Hotels Combined")
                    dl
                        dt 추가 N포인트 5%
                        dd 특가
                p
                    a(href="#" data-gtag-category="숙박혜택" data-gtag-action="") 할인혜택 보러가기
            div
                p.
                    주요 관광지별 추천 호텔 '호텔에서 결제’로 예약 시 기간내 프로모션 대상 국내 호텔 예약 시 특가 제공 및 <br>
                    추가 N포인트 5% 적립 혜택 제공(결제액의 5%)
                p 호텔스컴바인 웹/앱 접속 후 ‘호텔에서 결제’로 상품 예약 시 예약페이지에서 네이버 ID 제공 시 N포인트 적립 가능
                p.
                    문의처 : #[a(href="#" target="_blank") 호텔스컴바인 고객문의 게시판 바로가기]
