extends ../components/layout

append variables
    - const bodyId = 'benefits-traffic';

block body
    article.benefits-program.benefits-program--traffic
        header
            div
                h2
                    span 2023 여행가는 달 특별할인혜택
                    strong 교통혜택
                p 국내여행 준비중이라면?<br>여행가는 달에서 준비한 교통혜택을 챙겨가세요!
        div.benefits-program__list
            section.benefits-program__item
                div.benefits-program__content
                    div.benefits-program__item--info
                        h3.
                            #[span 여행가는 달]
                            철도 할인 프로모션
                        ul
                            li
                                h4 하나. 지역관광 결합형 KTX 할인
                                p.
                                    KTX 관광열차 승차권 할인(주말 30%/주중 50% 할인)<br>
                                    지역 숙박권 혹은 관광지 입장권 등 결합구매 시 KTX 할인<br>
                                    * 참여사 : 야놀자, 웹투어, 쏘카, 무브, 와그, 마실, 여행공방, 해밀여행사
                            li
                                h4 둘. 관광열차 할인
                                p.
                                    관광열차 5개 노선 대상 승차권 할인(주말 30%/주중 50% 할인)<br>
                                    * 서해금빛열차, 남도해양열차, 동해산타열차, 백두대간협곡열차, 정선아리랑열차
                            li
                                h4 셋. 내일로패스 할인
                                p.
                                    전 연령 대상 내일로패스 1만원 할인(5만명 대상)<br>
                                    * KTX 1일 1회, 좌석 지정가능(이용기간 중 총 2회)<br>
                                    일반열차 1일 2회, 좌석 지정가능
                    div.benefits-program__item--addition
                        ul
                            li 판매 기간  :  0월 00일 ~ 0월 00일
                            li 이용 기간  :  0월 00일 ~ 0월 00일
                            li 문의처 : 1544-7788
                div.benefits-program__coupons
                    div.benefits-program__item--info
                        h4.
                            KTX 타고 떠나는
                            자유로운 기차여행
                        dl
                            dt.
                                KTX 관광상품 및<br>
                                관광열차 승차권
                            dd 최대 50% 할인
                        h4.
                            대한민국 대표 철도여행패스
                            국내 방방곡곡을
                            자유롭게!
                        dl
                            dt 내일로패스 이용권
                            dd 1만원 할인
                        a(href="#") 할인혜택 보러가기
                    div.benefits-program__item--addition
                        ul
                            li 이용일 기준일은 승차 시작일 기준
                            li 예산 소진 시 조기 마감 가능














