extends ../components/layout

append variables
    - const bodyId = 'benefits-traffic';

block body
    .benefits
        .benefits__container
            include menu
            .benefits__content


