extends components/layout

append variables
    - const bodyId = 'benefits-local';

block body
    .benefits
        .benefits__container
            .benefits__menu.benefits__menu--local
                div
                    h2
                        span 여행가는 달의 다양한
                        strong 여행정보와 여행혜택을<br>확인해 보세요!
                    nav
                        ul
                            li
                                strong 지역별
                            li
                                a(href="#") 프로그램별
                    div
                        select
                            option(value="") 강원
                        ul
                            li
                                a(href="#")
                                    span 강원
            .benefits__content
                article
                    header
                        h2 서울 여행
                        p 지역별 다양한 여행혜택과 여행상품을 보다 빠르고 쉽게 만나보세요!

                    div
                        h3 여행혜택
                        ul
                            li
                                a(href="#")
                                    span(style="background-image: url('https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=3f8fbd92-6b7e-46ba-9161-21bfd76e8e1b&mode=progress')")
                                    p 할인혜택
                                    p 산속등대 어뮤즈월드<br>이용요금 반값 할인
                            li
                                a(href="#")
                                    span(style="background-image: url('https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=de35655e-97a2-4a2d-8da0-812767f53fef&mode=progress')")
                                    p 할인혜택
                                    p 산속등대 어뮤즈월드<br>이용요금 반값 할인
                            li
                                a(href="#")
                                    span(style="background-image: url('https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=f6c2cdb3-7c48-4ec1-b326-33e19002b0f1&mode=progress')")
                                    p 할인혜택
                                    p 산속등대 어뮤즈월드<br>이용요금 반값 할인
                            li
                                a(href="#")
                                    span(style="")
                                    p 할인혜택
                                    p 산속등대 어뮤즈월드<br>이용요금 반값 할인
                        p
                            button(type="button") MORE
