extends components/layout

append variables
    - const bodyId = 'main';

block body
    // button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop") Launch demo modal
    // #staticBackdrop.modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Modal title
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p Modal body text goes here.
    .main
        section.main__intro
            //iframe(src="https://www.youtube.com/embed/vwjE85JBIH4?controls=0&loop=1&playlist=vwjE85JBIH4&autoplay=1&mute=1&showinfo=0&rel=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

            div.intro-carousel
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#")
                                picture
                                    source(srcset="/travelmonth/assets/images/main/img_main_bg.jpg" media="(min-width: 992px)")
                                    img(src="/travelmonth/assets/images/main/img_main_bg_m.jpg" alt="")
                        .swiper-slide
                            picture
                                source(srcset="/travelmonth/assets/images/main/img_main_bg.jpg" media="(min-width: 992px)")
                                img(src="/travelmonth/assets/images/main/img_main_bg_m.jpg" alt="")

                    .swiper-navigation
                        .swiper-navigation-prev
                        .swiper-navigation-next

                    .swiper-pagination

        section.main__category
            ul.category-tab
                li
                    a(href="#").category-tab__item.category-tab__item--active
                        p.
                            #[strong 지역]
                            어디로 떠나시나요?
                li
                    a(href="#").category-tab__item
                        p.
                            #[strong 프로그램]
                            어떤 프로그램을 원하세요?

            div.category-tab-contents
                div.category-panel.category-tab-contents__location.category-panel--active
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                a(href="#" data-theme="01") 서울
                            .swiper-slide
                                a(href="#" data-theme="02") 인천
                            .swiper-slide
                                a(href="#" data-theme="03") 대전
                            .swiper-slide
                                a(href="#" data-theme="04") 대구
                            .swiper-slide
                                a(href="#" data-theme="05") 광주
                            .swiper-slide
                                a(href="#" data-theme="06") 부산
                            .swiper-slide
                                a(href="#" data-theme="07") 울산
                            .swiper-slide
                                a(href="#" data-theme="08") 경기
                            .swiper-slide
                                a(href="#" data-theme="09") 강원
                            .swiper-slide
                                a(href="#" data-theme="10") 충북
                            .swiper-slide
                                a(href="#" data-theme="11") 충남
                            .swiper-slide
                                a(href="#" data-theme="12") 세종
                            .swiper-slide
                                a(href="#" data-theme="13") 경북
                            .swiper-slide
                                a(href="#" data-theme="14") 경남
                            .swiper-slide
                                a(href="#" data-theme="15") 전북
                            .swiper-slide
                                a(href="#" data-theme="16") 전남
                            .swiper-slide
                                a(href="#" data-theme="17") 제주

                div.category-panel.category-tab-contents__program
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                a(href="#" data-theme="a").
                                    교통 <br>
                                    혜택
                            .swiper-slide
                                a(href="#" data-theme="b").
                                    숙박 <br>
                                    혜택
                            .swiper-slide
                                a(href="#" data-theme="c").
                                    놀거리 <br>
                                    혜택
                            .swiper-slide
                                a(href="#" data-theme="d").
                                    여행 <br>
                                    트렌드관
                            .swiper-slide
                                a(href="#" data-theme="e").
                                    여행상품 <br>
                                    특별 기획전


        section.main__trend
            header
                h2 요즘 #[strong 여행 트렌드]는
            div.trend-carousel
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#")
                                span
                                p 농어촌/섬관광
                        .swiper-slide
                            a(href="#")
                                span
                                p 힐링/웰니스
                        .swiper-slide
                            a(href="#")
                                span
                                p 친환경여행
                        .swiper-slide
                            a(href="#")
                                span
                                p.
                                    살아보기여행 <br>
                                    (생활관광)
                        .swiper-slide
                            a(href="#")
                                span
                                p 열린관광
                        .swiper-slide
                            a(href="#")
                                span
                                p K-Culture
                        .swiper-slide
                            a(href="#")
                                span
                                p 스포츠케이션
                        .swiper-slide
                            a(href="#")
                                span
                                p 취미여행
                        .swiper-slide
                            a(href="#")
                                span
                                p 미식여행
                        .swiper-slide
                            a(href="#")
                                span
                                p.
                                    반려동물 <br>
                                    동반여행

                    .swiper-scrollbar
        section.main__benefits.list-thumbnail.list-thumbnail--benefits-more
            h2 여행혜택
            ul
                li(data-benefit="traffic")
                    a(href="${pageContext.request.contextPath}/benefits/traffic.do")
                        h4 교통혜택
                        p 국내여행 준비중이라면<br>교통혜택을 챙겨가세요!

                li(data-benefit="stay")
                    a(href="${pageContext.request.contextPath}/benefits/traffic.do")
                        h4 숙박혜택
                        p.
                            여행의 완성은 잠자리! <br>
                            역대급 숙박혜택을 확인하세요

                li(data-benefit="play")
                    a(href="${pageContext.request.contextPath}/benefits/traffic.do")
                        h4 놀거리혜택
                        p.
                            놀거리혜택으로 <br>
                            풍성한 여행을 만들어가세요!

                li(data-benefit="special")
                    a(href="${pageContext.request.contextPath}/benefits/traffic.do")
                        h4.
                            여행상품 <br>
                            특별 기획전
                        p.
                            여행가는 달 기간동안 <br>
                            여행업계가 선보이는 <br>
                            각종 혜택들을 만나보세요.

        aside.main__special
            div
                h2 여행상품 특별 기획전
                p 여행가는 달 기간동안 여행업계가 선보이는 #[strong 각종 혜택들을 만나보세요.]
                a(href="#") 기획전 바로가기

        section.main__june
            div
                header
                    h2 #[strong 준]이 추천해 #[strong 준] 여행정보
                    p
                div.june-contents
                    div.june-contents__information
                        //iframe(src="https://www.youtube.com/embed/vwjE85JBIH4")
                        iframe(src="")
                            span 여행가는달 유튜브영상
                        div
                            div
                                p.
                                    주간 <br>
                                    여행정보
                                a(href="#") 더보기
                            ul
                                li
                                    a(href="#").
                                        #[span 충북] 여름철에 떠나기 좋은 어촌체험휴양마을
                                li
                                    a(href="#").
                                        #[span 충남] 내일로 가는 결성향교, 향교Day 문예축전
                                li
                                    a(href="#").
                                        #[span 부산] 안 가면 후회할 숨은 벚꽃 명소
                                li
                                    a(href="#").
                                        #[span 울산] 봄바람 타고, 아이와 함께 블링블링 울산 여행
                                li
                                    a(href="#").
                                        #[span 전남] 순천 여행, 향긋한 꽃내음을 만끽할 봄 여행코스여행코스여행코스여행코스여행코스여행코스여행코스

                    div.june-contents__tourist
                        div.june-contents__tourist-banner
                            strong(style="background-image:url(/travelmonth/assets/images/main/img_june_banner.png)")
                                p.
                                    여행가는 달 광고 영상에서 <br>
                                    본 관광지는 어디일까요?

                        div.june-contents__tourist-list
                            a.june-contents__tourist-item(href="#" style="background-image:url(/travelmonth/assets/images/main/img_june_tourist_1.png)")
                                p.june-contents__tourist-text.
                                    여름철에 떠나기 좋은 <br>
                                    어촌체험휴양마을
                            a.june-contents__tourist-item(href="#" style="background-image:url(/travelmonth/assets/images/main/img_june_tourist_2.png)")
                                p.june-contents__tourist-text.
                                    Endless summer <br>
                                    양양으로 떠나는 서핑 여행
                            a.june-contents__tourist-item(href="#" style="background-image:url(/travelmonth/assets/images/main/img_june_tourist_3.png)")
                                p.june-contents__tourist-text.
                                    숲속으로 떠나는 <br>
                                    힐링여행 모음
                            a.june-contents__tourist-item(href="#" style="background-image:url(/travelmonth/assets/images/main/img_june_tourist_4.png)")
                                p.june-contents__tourist-text.
                                    6월에 떠나는 <br>
                                    제주바다

        section.main__event
            div
                header.main__header
                    h2 이벤트
                    a(href="#") 이벤트 바로가기
                .event-carousel
                    div.swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_1.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 인증샷 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_2.png)").
                                    #[p 스팟트라이트 SNS 댓글 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_3.png)").
                                    #[p 투(TWO)어게인 <br> SNS 여행 인증샷 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_4.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 댓글 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_1.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 인증샷 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_1.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 인증샷 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_2.png)").
                                    #[p 스팟트라이트 SNS 댓글 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_3.png)").
                                    #[p 투(TWO)어게인 <br> SNS 여행 인증샷 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_4.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 댓글 이벤트]
                            div.swiper-slide
                                a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_event_1.png)").
                                    #[p 부모님과 여.행.기 <br> SNS 인증샷 이벤트]

                        .event-carousel__paging
                            .event-carousel__paging-prev
                            .event-carousel__paging-next

                        .swiper-scrollbar

        section.main__organization
            div
                header.main__header
                    h2 여행가는 달 참여기관
                div
                    div
                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_1.png" alt="국립공원공단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_2.png" alt="코레일관광개발")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_3.png" alt="한국어촌어항공단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_4.png" alt="남해관광문화재단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_5.png" alt="KORAIL")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_6.png" alt="한국임업진흥원")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_1.png" alt="국립공원공단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_2.png" alt="코레일관광개발")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_3.png" alt="한국어촌어항공단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_4.png" alt="남해관광문화재단")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_5.png" alt="KORAIL")

                        a(href="#" target="_blank")
                            img(src="/travelmonth/assets/images/main/img_organization_6.png" alt="한국임업진흥원")


        section.main__travel
            header
                h2 대한민국은 절찬여행중
                p.
                    6월, 꿈꿔왔던 여행의 주인공이 되어보세요! <br>
                    #[strong 여행가는 달] #[strong 2023.6.1 - 6.30]
                a(href="#") 여행가는 달 자세히보기

            div
                //iframe(src="https://www.youtube.com/embed/vwjE85JBIH4")
                iframe(src="")
                    span 여행으로[웃음을]재생하기

        section.main__instagram
            header.main__header
                h2 INSTAGRAM
                a(href="#") 여행가는 달 인스타그램 방문하기
            .instagram-carousel
                div.swiper
                    div.swiper-wrapper
                        div.swiper-slide
                            a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_instagram_1.jpg)")
                        div.swiper-slide
                            a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_instagram_2.jpg)")
                        div.swiper-slide
                            a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_instagram_3.jpg)")
                        div.swiper-slide
                            a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_instagram_4.jpg)")
                        div.swiper-slide
                            a(href="#" target="_blank" style="background-image:url(/travelmonth/assets/images/main/img_instagram_5.jpg)")

                    div.swiper-scrollbar
