@use "sass:math";

.benefits {
    &__container {
        max-width: 1920px;
        margin: 0 auto;

        @include media-queries($from: xl) {
            display: flex;
        }
    }

    &__menu {
        background: #36b687;

        @include media-queries($from: xl) {
            flex-shrink: 0;
            width: clamp(360px, ceil(percentage(math.div(520, 1920))), 520px);
            background: #383a4c;
        }

        > div {
            padding-bottom: 24px;

            @include media-queries($from: xl) {
                position: sticky;
                top: 80px;
            }
        }

        h2 {
            display: none;
            padding-top: 60px;
            color: #fff;
            font-family: "GmarketSans", sans-serif;
            text-align: center;
            letter-spacing: -0.02em;

            @include media-queries($from: xl) {
                display: block;
            }

            span {
                display: block;
                font-weight: 300;
                font-size: 24px;
                line-height: math.div(40, 24);
            }

            strong {
                font-weight: 700;
                font-size: 32px;
                line-height: math.div(40, 32);
            }
        }

        nav {
            text-align: center;

            @include media-queries($from: xl) {
                padding-top: 40px;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                @include media-queries($from: xl) {
                    display: inline-flex;
                    border-radius: 23px;
                    background: #565a77;
                }
            }

            li {
                width: 100%;
            }

            a,
            strong {
                display: block;
                height: 46px;
                background: #fff;
                color: #a3a7c1;
                font-weight: $font-weight-medium;
                font-size: 18px;
                line-height: 46px;
                text-align: center;
                letter-spacing: -0.04em;

                @include media-queries($from: xl) {
                    border-radius: 23px;
                    background: transparent;
                    font-size: 22px;
                }
            }

            @include media-queries($from: xl) {
                li {
                    &:nth-child(1) {
                        a,
                        strong {
                            width: 90px;
                        }
                    }

                    &:nth-child(2) {
                        a,
                        strong {
                            width: 150px;
                        }
                    }
                }
            }

            strong {
                background: #36b687;
                color: #fff !important;
                font-weight: $font-weight-bold;

                @include media-queries($from: xl) {
                    background: #fff;
                    color: #37bf8a !important;
                }
            }
        }

        nav + div {
            > p {
                padding-top: 12px;
                color: #fff;
                font-size: 12px;
                line-height: math.div(36, 24);
                text-align: center;
            }

            select {
                display: block;
                width: min(calc(100% - 28px), 435px);
                height: 36px;
                margin: 4px auto 0;
                padding: 0 15px;
                border-radius: 4px;
                border: 0;
                color: #000;
                font-size: 16px;
                appearance: none;
            }

            > select {
                margin-top: 24px;
            }

            > p,
            > select {
                @include media-queries($from: xl) {
                    display: none;
                }
            }

            ul {
                display: none;
                position: relative;
                width: calc(100% - 40px);
                margin: 40px auto 0;

                @include media-queries($from: xl) {
                    display: block;
                }
            }

            a,
            strong {
                display: block;
                position: relative;
            }
        }

        &--local {
            nav + div {
                ul {
                    position: relative;
                    max-width: 400px;
                    background: url("/assets/images/benefits/map_bg.png") no-repeat right top/auto 100%;
                    aspect-ratio: 400 / 539;
                }

                li {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }

                strong + span,
                a + span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: {
                        repeat: no-repeat;
                        position: right top;
                        size: auto 100%;
                    };
                    content: "";
                    opacity: 0;
                    transition: .15s;
                }

                li {
                    @each $code, $left, $top in ('01', 98, 116, '서울'), ('02', 278, 384, '부산'), ('03', 238, 320, '대구'), ('04', 72, 132, '인천'), ('05', 80, 390, '광주'),
                            ('06', 132, 256, '대전'), ('07', 298, 348, '울산'), ('08', 110, 222, '세종'), ('09', 140, 158, '경기'), ('10', 220, 90, '강원'),
                            ('11', 164, 234, '충북'), ('12', 80, 244, '충남'), ('13', 118, 336, '전북'), ('14', 124, 406, '전남'), ('15', 264, 268, '경북'),
                            ('16', 190, 362, '경남'), ('17', 82, 528, '제주') {
                        &[data-sido="#{$code}"] {
                            a,
                            strong {
                                top: percentage(math.div($top - 40, 539));
                                left: percentage(math.div($left + 10, 400));
                            }

                            > span {
                                background-image: url("/assets/images/benefits/map_#{$code}.png");
                            }
                        }
                    }
                }

                strong + span,
                a:hover + span {
                    opacity: 1;
                }

                a,
                strong {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    pointer-events: auto;
                    cursor: pointer;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 10;
                        width: 100%;
                        height: 100%;
                        background: url("/assets/images/benefits/icon_local.png") no-repeat center bottom/18px auto;
                        content: "";
                        opacity: 1;
                        cursor: pointer;
                        //transition: .15s;
                    }

                    span {
                        position: absolute;
                        bottom: 8px;
                        left: 50%;
                        z-index: 10;
                        padding: 0 18px 0 36px;
                        border-radius: 20px;
                        border: 1px solid #6b6b6b;
                        background: #fff url("/assets/images/benefits/icon_local_on.png") no-repeat 12px center/20px auto;
                        color: #000;
                        font-weight: $font-weight-bold;
                        font-size: 20px;
                        line-height: 2;
                        letter-spacing: -0.04em;
                        white-space: nowrap;
                        pointer-events: none;
                        transform: translateX(-50%);
                        opacity: 0;
                        cursor: pointer;
                        //transition: .15s;

                        &::before {
                            position: absolute;
                            top: calc(100% - 5px);
                            left: calc(50% - 5px);
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            transform: rotate(45deg);
                            content: "";
                            box-shadow: 1px 1px 0 0 #6b6b6b;
                        }
                    }
                }

                a {
                    &:hover {
                        span {
                            z-index: 20;
                            opacity: 1;
                        }
                    }
                }

                strong {
                    span {
                        opacity: 1;
                    }
                }
            }
        }

        &--program {
            nav + div {
                ul {
                    max-width: 320px;
                    margin-top: 60px;
                    box-shadow: inset 0 1px 0 rgba(#969ab4, .5);
                }

                a,
                strong {
                    height: 84px;
                    padding-left: 100px;
                    background: {
                        repeat: no-repeat;
                        position: 24px 50%;
                    };
                    color: #fff;
                    font-weight: $font-weight-medium;
                    font-size: 22px;
                    line-height: 84px;
                    box-shadow: inset 0 -1px 0 rgba(#969ab4, .5);
                    transition: background-color .15s;
                }

                strong,
                a:hover {
                    background-color: #37bf8a;
                }
            }
        }
    }

    &__menu-item--local-hide {
        strong + span {
            opacity: 0 !important;
        }
    }

    @each $type, $width in (traffic, 36px), (stay, 40px), (play, 39px), (trend, 44px), (special, 31px) {
        &__menu--program &__menu-link--#{$type} {
            background-image: url("/assets/images/benefits/icon_program_#{$type}.png");
            background-size: $width auto;

            &:hover {
                background-image: url("/assets/images/benefits/icon_program_#{$type}_on.png");
            }
        }

        &__menu--program strong#{&}__menu-link--#{$type} {
            background-image: url("/assets/images/benefits/icon_program_#{$type}_on.png");
        }
    }

    &__content {
        overflow: hidden;
        flex-grow: 1;
        padding: var(--site-content-padding);
    }
}

.benefits-local {
    max-width: (374px * 3 + 20 * 2);
    margin: 0 auto;

    header {
        padding: var(--benefits-local-header-padding);
        border-bottom: var(--benefits-local-header-line) solid #000;
        background: {
            repeat: no-repeat;
            position: right bottom;
        };
        letter-spacing: -0.02em;

        @include media-queries($to: xl) {
            padding-right: 120px;
        }

        @include media-queries($from: xl) {
            background-position: right 40px bottom;
        }

        h2 {
            font-weight: 500;
            font-size: var(--benefits-local-header-title-size);
            line-height: 1;
            font-family: GmarketSans, sans-serif;

            span {

            }
        }

        p {
            margin-top: 8px;
            color: #393939;
            font-weight: $font-weight-semiBold;
            font-size: var(--benefits-local-header-content-size);
            line-height: math.div(24, 20);
        }
    }

    &[data-local="10"] header {
        background-image: url("/assets/images/benefits/bg_local_10.png");
        background-size: 78px auto;

        @include media-queries($from: xl) {
            background-size: 123px auto;
        }
    }
}