@use "sass:math";

.travelmonth-intro {
    header {
        background: {
            image: url(/travelmonth/assets/images/intro/bg_header_mo.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
        };

        @include media-queries($from: sm) {
            background-image: url(/travelmonth/assets/images/intro/bg_header.png);
        }

        > div {
            height: calc(485px / 2);
            text-align: center;

            @include media-queries($from: md) {
                height: 372px;
            }
        }

        h2 {
            padding: 30px 0 10px;
            font-weight: 500;
            font-size: 30px;
            line-height: 1;
            font-family: GmarketSans, sans-serif;

            @include media-queries($from: md) {
                padding: 58px 0 25px;
                font-size: 50px;
                line-height: 1;
            }
        }

        p {
            padding: 0 40px;
            font-size: 12px;

            @include media-queries($from: md) {
                font-size: 18px;
                line-height: math.div(24, 18);
            }

            br {
                display: none;

                @include media-queries($from: md) {
                    display: block;
                }
            }
        }
    }

    section {
        > div {
            max-width: 680px;
            margin: 0 auto;
            padding: 0 10px;
        }

        @include media-queries($from: xl) {
            > div {
                max-width: 1000px;
                padding: 0;
            }
        }
    }

    h3 {
        padding: 38px 0 16px;
        text-align: center;
        font-family: GmarketSans, sans-serif;

        @include media-queries($from: xl) {
            padding: 115px 0 55px;
        }

        span {
            font-size: 20px;
            line-height: 1;

            @include media-queries($from: xl) {
                font-size: 42px;
            }
        }

        strong {
            color: #37bf8a;
        }
    }

    &--video {
        padding: 30px 0 47px;
        background: linear-gradient(to bottom, #fff 60%, #eafaf6 60%);

        @include media-queries($from: xl) {
            padding: 120px 0 130px;
        }

        .category-tab {
            display: flex;

            @include media-queries($from: xl) {
                width: 1000px;
                margin: 0 auto;
            }

            li {
                width: 50%;
            }

            &__item {
                display: block;
                height: 40px;
                background-color: #f7f7f7;
                color: #ababab;
                font-size: 12px;
                line-height: 40px;
                text-align: center;
                font-family: GmarketSans, sans-serif;

                @include media-queries($from: xl) {
                    height: 84px;
                    font-size: 24px;
                    line-height: 84px;
                }

                &--active {
                    background-color: #37bf8a;
                    color: #fff;
                }
            }
        }

        .category-panel {
            display: none;

            &--active {
                display: block;
            }
        }

    }

    &--poster {
        padding-bottom: 20px;
        background-color: #f7f7f7;

        @include media-queries($from: xl) {
            padding-bottom: 100px;
        }

        h3 {
            span {
                padding-right: 24px;
                background: url(/travelmonth/assets/images/intro/icon_poster_header.png) no-repeat right center/auto 100%;

                @include media-queries($from: xl) {
                    padding-right: 52px;
                }
            }
        }

        h4 {
            padding: 20px 15px 6px 20px;
            color: #303030;
            font-weight: 500;
            font-size: 12px;
            line-height: 1;

            @include media-queries($from: xl) {
                width: 1000px;
                margin: 0 auto;
                padding: 40px 0 5px 0;
                font-weight: bold;
                font-size: 12px;
            }
        }

        p {
            display: flex;
            justify-content: space-between;

            @include media-queries($from: xl) {
                width: 1000px;
                margin: 0 auto;
            }

            span {
                display: block;
                width: calc((100% - 14px) / 2);
                padding-top: 66.7%;
                background: {
                    repeat: no-repeat;
                    position: center top;
                    size: auto 100%;
                };

                @include media-queries($from: xl) {
                    width: calc((100% - 20px) / 2);
                }
            }
        }

        ul {
            padding: 0 15px 0 20px;

            @include media-queries($from: xl) {
                width: 1000px;
                margin: 0 auto;
                padding: 0;
            }
        }

        li {
            display: flex;
            color: #303030;
            font-size: 10px;
            line-height: math.div(32, 18);

            @include media-queries($from: xl) {
                font-size: 12px;
                line-height: math.div(18, 12);
            }

            & + li {
                margin-top: 2px;
            }
        }
    }

    &--leaflet {
        padding-bottom: 60px;

        @include media-queries($from: xl) {
            padding-bottom: 220px;
        }

        h3 {
            span {
                padding-right: 30px;
                background: url(/travelmonth/assets/images/intro/icon_leaflet_header.png) no-repeat right center/auto 100%;

                @include media-queries($from: xl) {
                    padding-right: 60px;
                }
            }
        }

        > div {
            div {
                &:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;

                    p {
                        width: calc((100% - 20px) / 3);

                        @include media-queries($from: xl) {
                            width: calc((100% - 40px) / 3);
                        }
                    }

                    span {
                        aspect-ratio: 386 / 547;
                    }
                }

                &:nth-of-type(2) {
                    padding-top: 30px;

                    @include media-queries($from: xl) {
                        padding-top: 60px;
                    }

                    span {
                        aspect-ratio: 1200 / 847;
                    }
                }

                p {
                    font-size: 10px;
                    line-height: 1;
                    text-align: center;

                    @include media-queries($from: xl) {
                        font-size: 22px;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    background: {
                        repeat: no-repeat;
                        position: center center;
                        size: auto 100%;
                    };

                    @include media-queries($from: xl) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.travelmonth-organization {
    header {
        background: {
            image: url(/travelmonth/assets/images/intro/bg_organization_header_mo.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
        };
        text-align: center;

        @include media-queries($from: sm) {
            background-image: url(/travelmonth/assets/images/intro/bg_organization_header.png)
        }

        > div {
            height: calc(485px / 2);
            text-align: center;

            @include media-queries($from: md) {
                height: 372px;
            }
        }

        h2 {
            padding: 30px 0 10px;
            font-weight: 500;
            font-size: 30px;
            font-family: GmarketSans, sans-serif;

            @include media-queries($from: md) {
                padding: 54px 0 24px;
                font-size: 50px;
                line-height: 1;
            }

            br {
                @include media-queries($from: md) {
                    display: none;
                }
            }
        }

        p {
            padding: 0 40px;
            font-size: 12px;

            @include media-queries($from: md) {
                font-size: 18px;
                line-height: math.div(24, 18);
            }
        }
    }

    &-list {
        margin: 40px 60px 60px;

        @include media-queries($from: lg) {
            width: 1000px;
            margin: 120px auto 160px;
        }
    }

    &-item {
        margin-top: 18px;

        &:nth-of-type(1) {
            margin-top: 0 !important;
        }

        @include media-queries($from: md) {
            margin-top: 30px;
        }

        @include media-queries($from: xl) {
            margin-top: 48px;
        }

        h4 {
            margin-bottom: 8px;
            font-size: 15px;
            font-family: GmarketSans, sans-serif;

            @include media-queries($from: xl) {
                margin-bottom: 12px;
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;

            @include media-queries($from: sm) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include media-queries($from: md) {
                grid-template-columns: repeat(4, 1fr);
            }

            @include media-queries($from: xl) {
                grid-template-columns: repeat(5, 1fr);
                gap: 14px;
            }
        }

        li {
            aspect-ratio: 190 / 84;
            border: 1px solid #d2d2d2;
            background: {
                repeat: no-repeat;
                position: center center;
                size: 100% auto;
            };
        }

        span {
            @include visually-hidden;
        }
    }
}