@use "sass:math";

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    word-break: keep-all;
}

.skipnav {
    display: none;
}

.quick-visitkorea {
    position: relative;
    z-index: 10;

    @include media-queries($to: xl) {
        display: none;
    }

    div {
        max-width: 1750px;
        height: var(--logo-travelmonth-height);
        margin: 0 auto;
        padding: calc((var(--logo-travelmonth-height) - 24px) / 2) 0 0 var(--site-padding-horizon);

        @include media-queries($from: xl) {
            height: 70px;
            padding: 15px 0 0 25px;

            @at-root #travelmonth-main & {
                max-width: 1200px;
                padding-left: 0;
            }
        }
    }

    a {
        display: inline-block;
        height: 24px;
        padding: 0 16px 0 10px;
        border-radius: 3px;
        border: 1px solid #d7d8db;
        background: url("/travelmonth/assets/images/common/icon_quick_visitkorea.png") no-repeat right 9px center/4px auto;
        color: #000;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;

        @include media-queries($from: xl) {
            height: 40px;
            padding: 0 28px 0 15px;
            font-size: 20px;
            line-height: 38px;
            background-position: right 14px center;
            background-size: 7px auto;

            @at-root #travelmonth-main & {
                padding-left: 0;
                border: 0;
                line-height: 40px;
            }
        }
    }
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    background: #fff;
    box-shadow: 0 1px 0 0 #d3d3d3;

    @include media-queries($to: xl) {
        box-shadow: 0 1px 0 0 #d3d3d3;
    }

    > div {
        display: flex;
        justify-content: center;
        max-width: 1750px;
        margin: 0 auto;
        background-color: #fff;

        @include media-queries($from: xl) {
            justify-content: space-between;
            padding: 0 0 0 40px;

            @at-root #travelmonth-main & {
                max-width: 1200px;
                border-radius: 8px;
            }
        }
    }

    h1 {
        a {
            display: block;
            width: var(--logo-travelmonth-width);
            height: var(--logo-travelmonth-height);
            background: url("/travelmonth/assets/images/common/logo_travelmonth.png") no-repeat center/contain;
        }

        span {
            @include visually-hidden;
        }
    }

    h1 + p {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        height: 100%;

        button {
            display: block;
            width: (21px + (14 * 2));
            height: 100%;
            border-radius: 0;
            border: 0;
            background: url("/travelmonth/assets/images/common/icon_global_nav_button.png") no-repeat center/21px auto;
            appearance: none;
        }

        span {
            @include visually-hidden;
        }

        @include media-queries($from: xl) {
            display: none;
        }
    }

    nav {
        @include media-queries($to: xl) {
            display: none;
            overflow: hidden;
            overflow-y: auto;
            position: fixed;
            top: var(--logo-travelmonth-height);
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 var(--site-padding-horizon);
        }

        &::before {
            position: fixed;
            top: var(--logo-travelmonth-height);
            bottom: 0;
            left: 0;
            width: 100%;
            background: #fff;
            content: "";

            @include media-queries($to: xl) {
                border-top: 1px solid #d3d3d3;
            }

            @include media-queries($from: xl) {
                position: absolute;
                height: 0;
            }
        }

        &:hover {
            @include media-queries($from: xl) {
                &::before {
                    height: 100px;
                    box-shadow: inset 0 -1px 0 #d3d3d3;
                }
            }

            li div {
                display: block;

                @include media-queries($from: xl) {
                    margin-top: -10px;
                }
            }
        }

        li {
            position: relative;
        }

        div {

            @include media-queries($from: xl) {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
            }
        }

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding-left: 36px;
            color: #424242;
            white-space: nowrap;
            transition: .15s;

            @include media-queries($from: xl) {
                display: flex;
                padding-left: 0;
            }
        }

        li {
            &:hover {
                > a {
                    color: #37bf8a;
                }
            }

            div li {
                &:hover {
                    > a {
                        color: #424242;
                        font-weight: $font-weight-semiBold;
                    }
                }
            }
        }

        > ul {
            @include media-queries($to: 'xl') {
                padding: 16px 0;
            }

            @include media-queries($from: 'xl') {
                display: flex;
            }

            > li {
                @include media-queries($to: 'xl') {
                    &:not(:first-child) {
                        border-top: 1px solid #e5e5e5;
                    }
                }

                > a {
                    position: relative;
                    height: var(--site-header-height);
                    font-weight: $font-weight-semiBold;
                    font-size: 20px;

                    @include media-queries($from: 'xl') {
                        padding: 0 35px 0 36px;
                    }
                }

                &:not(:first-child) {
                    > a {

                        @include media-queries($from: 'xl') {
                            padding-left: 35px;
                        }
                    }
                }

                @include media-queries($from: 'xl') {
                    &:not(:first-child) {
                        > a {
                            &::before {
                                position: absolute;
                                top: calc(50% - 9px);
                                left: 0;
                                width: 1px;
                                height: 18px;
                                background: #b2b2b2;
                                content: "";
                            }
                        }
                    }
                }
            }
        }

        div {
            @include media-queries($to: 'xl') {
                margin-top: -8px;
                padding-bottom: 16px;
            }

            a {
                padding: 4px 36px;
                font-weight: $font-weight-light;
                font-size: 16px;
                line-height: math.div(20, 16);

                @include media-queries($from: 'xl') {
                    padding: 4px 0;
                }
            }
        }
    }

    &__nav {
        &--current-main {
            color: #37bf8a !important;
        }

        &--current-sub {
            color: #424242 !important;
            font-weight: $font-weight-semiBold !important;
        }
    }
}

@include media-queries($to: xl) {
    .open-global-nav {
        overflow: hidden;

        .quick-visitkorea {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 210;
        }

        .site-header {
            h1 {
                opacity: 0;
                pointer-events: none;
            }

            h1 + p button {
                background-image: url("/travelmonth/assets/images/common/icon_global_nav_close.png");
            }

            nav {
                display: block;
            }
        }
    }
}

.site-footer {
    border-top: 1px solid #dadada;
    background: #f5f5f5;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: calc(1440px + var(--site-footer-padding-horizon) * 2);
        margin: 0 auto;
        padding: var(--site-footer-padding-vertical) var(--site-footer-padding-horizon);
    }

    div div div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    p {
        padding-right: 4px;
        color: #7d7d7d;
        font-size: 14px;
        line-height: 1.5;

        + p {
            &::before {
                padding-right: 4px;
                content: "/";
            }
        }
    }

    div div div + p {
        padding-top: var(--site-footer-copyright-margin);
        font-size: 12px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include media-queries($to: md) {
            width: 100%;
            padding-top: 12px;
        }
    }

    li {
        height: var(--site-footer-logo-height);
        background: {
            repeat: no-repeat;
            position: center;
            size: 100% auto;
        };

        &:not(:first-child) {
            margin-left: var(--site-footer-logo-margin);
        }

        &:nth-child(1) {
            width: var(--site-footer-logo-mcst-width);
            background-image: url("/travelmonth/assets/images/common/logo_mcst.png");
        }

        &:nth-child(2) {
            width: var(--site-footer-logo-visitkorea-width);
            background-image: url("/travelmonth/assets/images/common/logo_visitkorea.png");
        }

        &:nth-child(3) {
            width: var(--site-footer-logo-1330-width);
            background-image: url("/travelmonth/assets/images/common/logo_1330.png");
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        span {
            @include visually-hidden;
        }
    }
}

.list-thumbnail {
    max-width: ((374px * 3) + (20px * 2));
    margin: 0 auto;
    padding-top: 40px;

    @include media-queries($from: xl) {
        padding-top: 90px;
    }

    h3 {
        position: relative;
        margin-bottom: 12px;
        padding-left: 8px;
        font-weight: $font-weight-medium;
        font-size: 18px;
        line-height: math.div(46, 35);
        letter-spacing: -0.02em;

        @include media-queries($from: xl) {
            margin-bottom: 18px;
            padding-left: 12px;
            font-size: 35px;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #27d491;
            content: "";

            @include media-queries($from: xl) {
                width: 10px;
                height: 10px;
            }
        }

        strong {
            color: #37bf8a;
            font-weight: $font-weight-medium;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(var(--benefits-list-column-size), 1fr);
        grid-column-gap: var(--benefits-list-column-gap);
        grid-row-gap: var(--benefits-list-row-gap);
    }

    &__item--hide {
        display: none;
    }

    a {
        > span:first-child {
            display: block;
            overflow: hidden;
            margin-bottom: 12px;
            border-radius: var(--benefits-list-thumbnail-radius);
            background: {
                repeat: no-repeat;
                position: center;
                size: cover;
            };
            aspect-ratio: 374 / 255;

            @include media-queries($from: xl) {
                margin-bottom: 20px;
            }
        }

        > div {
            display: flex;
            align-items: center;
        }
    }

    > div {
        p {
            color: #000;
            font-size: 16px;

            @include media-queries($from: xl) {
                font-size: 20px;
            }
        }
    }

    > p {
        padding-top: 20px;
        text-align: center;

        @include media-queries($from: xl) {
            padding-top: 60px;
        }

        button {
            width: 120px;
            border-radius: 18px;
            border: 1px solid #8c8c8c;
            background: #fff;
            color: #8c8c8c;
            font-weight: $font-weight-bold;
            font-size: 14px;
            line-height: 34px;
            appearance: none;

            @include media-queries($from: xl) {
                width: 180px;
                border-radius: 26px;
                border-width: 2px;
                font-size: 20px;
                line-height: 48px;
            }
        }
    }

    &__more--hide {
        display: none;
    }

    &--benefits {
        a div {
            p {
                line-height: 18px;

                @include media-queries($from: xl) {
                    line-height: 26px;
                }

                &:nth-of-type(1) {
                    width: 52px;
                    margin-right: 4px;
                    border-radius: 13px;
                    color: #fff;
                    font-size: 10px;
                    text-align: center;
                    white-space: nowrap;

                    @include media-queries($from: xl) {
                        width: 70px;
                        margin-right: 8px;
                        font-size: 13px;
                    }
                }

                &:nth-of-type(2) {
                    color: #000;
                    font-weight: $font-weight-regular;
                    font-size: 12px;
                    letter-spacing: -0.03em;

                    @include media-queries($from: xl) {
                        font-size: 18px;
                    }
                }
            }
        }

        a div + p {
            margin-top: 12px;
            color: #000;
            font-weight: $font-weight-medium;
            font-size: 16px;
            line-height: math.div(24, 20);
            letter-spacing: -0.03em;

            @include media-queries($from: xl) {
                font-size: 20px;
            }
        }

        [data-type="d"] div p:first-child {
            background: #8979ff;
        }

        [data-type="t"] div p:first-child {
            background: #3ab3ee;
        }

        [data-type="e"] div p:first-child {
            background: #f69b30;
        }
    }

    &--goods {
        a {
            > p {
                &:nth-of-type(1) {
                    color: #000;
                    font-size: 12px;

                    @include media-queries($from: xl) {
                        font-size: 16px;
                    }
                }

                &:nth-of-type(2) {
                    margin-top: 12px;
                    color: #000;
                    font-weight: $font-weight-medium;
                    font-size: 16px;
                    line-height: math.div(24, 20);
                    letter-spacing: -0.03em;

                    @include media-queries($from: xl) {
                        font-size: 20px;
                    }
                }
            }
        }

        a div {
            margin-top: 12px;

            p {
                padding-right: 17px;
                font-size: 12px;
                line-height: math.div(24, 20);
                letter-spacing: -0.03em;

                @include media-queries($from: xl) {
                    padding-right: 33px;
                    font-size: 16px;
                }

                &:nth-of-type(1) {
                    position: relative;
                    color: #ff5050;

                    &::after {
                        position: absolute;
                        top: calc(50% - 4px);
                        right: 9px;
                        width: 1px;
                        height: 8px;
                        background: #000;
                        content: "";

                        @include media-queries($from: xl) {
                            top: calc(50% - 7px);
                            right: 16px;
                            height: 12px;
                        }
                    }
                }

                &:nth-of-type(2) {
                    color: #000;
                }
            }
        }
    }

    &--contents {
        li {
            p {
                color: #000;
                font-weight: $font-weight-medium;
                font-size: 16px;
                line-height: math.div(24, 20);
                letter-spacing: -0.03em;

                @include media-queries($from: xl) {
                    font-size: 20px;
                }
            }
        }
    }

    &--benefits-more {
        ul {
            grid-row-gap: 24px;
        }

        li {
            background: {
                repeat: no-repeat;
                position: center;
                size: cover;
            };
        }

        @each $benefit in 'traffic', 'stay', 'play', 'special' {
            [data-benefit="#{$benefit}"] {
                background-image: url("/travelmonth/assets/images/benefits/bg_benefits_#{$benefit}.png");
            }
        }

        a {
            display: block;
            padding: 0 12px;
            aspect-ratio: 466 / 340;
            letter-spacing: -0.02em;
            text-align: center;
        }

        h4 {
            padding-top: percentage(math.div(48, 322));
            color: #000;
            font-weight: 700;
            font-size: 16px;
            font-family: "GmarketSans", sans-serif;
            line-height: 1;

            @include media-queries($from: xl) {
                padding-top: percentage(math.div(40, 374));
                font-size: 28px;
            }
        }

        p {
            margin-top: 6px;
            color: #393939;
            font-weight: $font-weight-regular;
            font-size: 14px;
            line-height: math.div(24, 18);

            @include media-queries($from: xl) {
                margin-top: 12px;
                font-size: 17px;
            }
        }

        @include media-queries($from: md) {
            li {
                &:nth-child(4) {
                    grid-column: 1 / 4;
                    background-image: url("/travelmonth/assets/images/benefits/p_benefits_special.png");

                    a {
                        aspect-ratio: 1160 / 178;
                    }

                    h4,
                    p {
                        @include visually-hidden;
                    }
                }
            }
        }
    }

    &--events {
        max-width: (386px * 3) + (20px * 2);
        padding-top: 0;

        a {
            p {
                color: #000;
                line-height: math.div(24, 20);
                letter-spacing: -0.03em;

                &:nth-of-type(1) {
                    font-weight: $font-weight-medium;
                    font-size: 14px;

                    @include media-queries($from: xl) {
                        font-size: 22px;
                        @include line-clamp(30px, 3);
                    }
                }

                &:nth-of-type(2) {
                    padding-top: 8px;
                    font-weight: $font-weight-light;
                    font-size: 10px;

                    @include media-queries($from: xl) {
                        padding-top: 12px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.list-programs {
    max-width: ((373px * 3) + (20px * 2));
    margin: 0 auto;

    ul {
        display: grid;
        grid-template-columns: repeat(var(--benefits-list-column-size), 1fr);
        grid-column-gap: var(--benefits-list-column-gap);
        grid-row-gap: var(--benefits-list-row-gap);
    }

    li {
        display: block;
        overflow: hidden;
        border-radius: 14px;
        background: {
            repeat: no-repeat;
            position: center;
            size: cover;
        };
        aspect-ratio: 466 / 340;

        @include media-queries($from: lg) {
            border-radius: 28px;
        }

        &:nth-child(1) {
            background-image: url("/travelmonth/assets/images/benefits/bg_benefits_traffic.png");
        }

        &:nth-child(2) {
            background-image: url("/travelmonth/assets/images/benefits/bg_benefits_stay.png");
        }

        &:nth-child(3) {
            background-image: url("/travelmonth/assets/images/benefits/bg_benefits_play.png");
        }
    }

    a {
        display: block;
        letter-spacing: -0.02em;
        text-align: center;
    }

    h2 {
        padding-top: 50px;
        color: #000;
        font-weight: 700;
        font-size: 34px;
        font-family: "GmarketSans", sans-serif;
        line-height: 1;
    }

    p {
        padding-top: 24px;
        color: #393939;
        font-size: 22px;
        line-height: math.div(30, 22);
    }
}

.modal-benefits,
.modal-goods {
    .modal-content {
        padding: 22px;
    }

    article {
        > div {
            &:nth-of-type(1) {
                border-radius: 32px;
                background: {
                    repeat: no-repeat;
                    position: center;
                    size: cover;
                };
                aspect-ratio: 374/255;
                box-shadow: inset 0 0 0 5px var(--modal-point-color);
            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 24px 0;
            }
        }

        div p {
            font-family: 'GmarketSans', sans-serif;
            line-height: 30px;
            letter-spacing: -0.05em;

            &:nth-of-type(1) {
                width: 84px;
                height: 30px;
                border: 1px solid var(--modal-point-color);
                color: var(--modal-point-color);
                font-size: 16px;
                text-align: center;
            }

            &:nth-of-type(2) {
                width: calc(100% - 94px);
                color: #3d3d3d;
                font-weight: 500;
                font-size: 20px;
            }
        }

        h3 {
            padding: 10px 24px 0;
            color: #000;
            font-weight: 500;
            font-size: 30px;
            line-height: math.div(36, 30);
            font-family: 'GmarketSans', sans-serif;
        }

        dl {
            padding: 30px 24px 0;
            color: #303030;
            font-weight: $font-weight-light;
            font-size: 16px;
            line-height: 1.5;

            > div {
                display: flex;
                align-items: flex-start;

                &:not(:first-child) {
                    margin-top: 8px;
                }
            }

            dt {
                display: flex;
                align-items: center;

                &::before {
                    width: 4px;
                    height: 4px;
                    margin-right: 6px;
                    background: #cecece;
                    content: "";
                }

                &::after {
                    padding: 0 4px;
                    content: ":";
                }
            }

            dd {
                flex-grow: 1;
            }
        }

        > p {
            &:last-child {
                padding: 50px 0 30px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 220px;
                    height: 56px;
                    margin: 0 auto;
                    border-radius: 28px;
                    border: 0;
                    background: var(--modal-point-color);
                    color: #fff;
                    font-size: 20px;
                    letter-spacing: -0.025em;
                    appearance: none;
                }
            }
        }
    }
}

.modal-benefits {
    &[data-type="d"] {
        --modal-point-color: #8979ff;
    }

    &[data-type="t"] {
        --modal-point-color: #3ab3ee;
    }

    &[data-type="e"] {
        --modal-point-color: #f69b30;
    }
}

.modal-goods {
    --modal-point-color: #65c543;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(0 0 99.9% 99.9%);
}