@use "sass:math";

#travelmonth-main {
    .site-header {
        background-color: transparent;
        box-shadow: none;

        @include media-queries($form: xl) {
            &.active {
                background: #fff;
                box-shadow: 0 1px 0 0 #d3d3d3;
            }

            &.on {
                > div {
                    border-radius: 0;
                }

                nav::before {
                    left: 50%;
                    max-width: 1200px;
                    transform: translateX(-50%);
                }
            }
        }
    }
}


.main {
    @include media-queries($from: xl) {
        margin-top: -150px;
    }

    &__header {
        max-width: 1468px;
        padding: 0 14px;
        margin: 0 auto;

        > * {
            color: #000;
        }

        h2 {
            font: {
                family: "GmarketSans", sans-serif;
                weight: $font-weight-bold;
                size: 42px;
            }
        }

        h2 + p {
            padding: 7px 0 10px 0;
            font: {
                weight: $font-weight-light;
                size: 24px;
            }
        }

        a {
            display: inline-block;
            margin-top: 8px;
            padding-right: 16px;
            background: {
                image: url(/travelmonth/assets/images/main/icon_link_arrow_gray.png);
                position: right 1px top 1px;
                repeat: no-repeat;
                size: auto 11px;
            };
            font-weight: $font-weight-light;
            font-size: 12px;


            @include media-queries($from: xl) {
                margin-top: 3px;
                padding-right: 30px;
                background: {
                    position: right center;
                    size: auto 22px;
                };
                font-size: 18px;
                line-height: math.div(32, 18);
            }
        }

        @include media-queries($to: xl) {
            h2 {
                font-size: 21px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    &__intro {
        .intro-swiper {
            max-width: 1920px;
            margin: 0 auto;
        }

        .swiper {

            &-slide {
                aspect-ratio: 1920/905;
            }

            &-navigation {
                @include media-queries($from: xl) {
                    &-prev,
                    &-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 10;
                        width: 60px;
                        height: 60px;
                        background-color: rgba(#fff, .4);
                        border: 2px solid #fff;
                        border-radius: 50%;
                        cursor: pointer;
                        background: {
                            repeat: no-repeat;
                            position: center;
                        };
                    }

                    &-prev {
                        left: 10.9375vw;
                        background: {
                            image: url(/travelmonth/assets/images/main/icon_button_prev_white.png);
                        };
                    }

                    &-next {
                        right: 10.9375vw;
                        background: {
                            image: url(/travelmonth/assets/images/main/icon_button_next_white.png);
                        };
                    }
                }
            }

            &-pagination {
                display: flex;
                align-content: center;
                justify-content: space-between;
                grid-column-gap: 16px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                z-index: 10;

                @include media-queries($from: xl) {
                    bottom: 155px;
                }

                .swiper-pagination-bullet {
                    display: block;
                    width: 16px;
                    height: 16px;
                    border: 2px solid #fff;
                    border-radius: 50%;

                    &-active {
                        background-color: #fff;
                    }

                    @include media-queries($to: xl) {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }

        @include media-queries($to: xl) {
            img {
                width: 100%;
            }
        }

    }

    &__category {
        max-width: 1440px;
        margin: 0 auto;

        @include media-queries($from: xl) {
            display: grid;
            grid-template-columns: 334px 1fr;
            position: relative;
            z-index: 1;
            margin: -130px auto 95px;
            box-shadow: rgba(#454545, .2) 0 20px 20px;
        }

        .category-tab {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @include media-queries($from: xl) {
                display: flex;
                flex-direction: column;
            }

            &__item {
                display: block;
                padding: 10px 0;
                background-color: #58b490;
                color: rgba(#fff, .5);

                &--active {
                    background-color: #fff;
                    color: #369d75;
                }

                @include media-queries($from: xl) {
                    padding: 23px 0;
                }
            }

            p {
                font: {
                    weight: $font-weight-light;
                    size: 14px;
                }
                text-align: center;
                line-height: 1.5;

                strong {
                    display: block;
                    font: {
                        weight: $font-weight-extraBold;
                        size: 20px;
                    }
                }

                @include media-queries($from: xl) {
                    font-size: 24px;
                    line-height: math.div(36, 24);

                    strong {
                        font-size: 32px;
                    }
                }
            }
        }

        .category-panel {
            display: none;
            height: 100%;
            padding: 25px 0 38px 0;
            background-color: #fff;

            &--active {
                display: block;
            }

            .swiper-slide {
                &:last-of-type {
                    a::after {
                        display: none;
                    }
                }
            }

            a {
                display: block;
                position: relative;
                padding: 0 20px;
                background-color: #fff;
                color: #000;
                font: {
                    weight: $font-weight-light;
                    size: 21px;
                }
                text-align: center;
                transition: font-weight .15s;

                @include media-queries($to: xl) {
                    font-size: 12px;
                }

                &::before {
                    display: block;
                    width: 23px;
                    margin: 0 auto 12px;
                    background: {
                        repeat: no-repeat;
                        position: center bottom;
                        size: contain;
                    };
                    content: '';
                }

                &:hover {
                    font-weight: $font-weight-extraBold;
                    color: #37bf8a;
                }

                @include media-queries($from: xl) {
                    width: 100%;
                    padding: 0;
                    font-size: 24px;

                    &::after {
                        position: absolute;
                        top: 25%;
                        right: 0;
                        bottom: 31.6666666667%;
                        width: 1px;
                        height: 43px;
                        right: 0;
                        background: #ebebeb;
                        content: '';
                    }
                }

            }

            .swiper {
                @include media-queries($from: xl) {
                    &-wrapper {
                        flex-wrap: wrap;
                    }
                }

                &-slide {
                    width: auto;
                    flex-shrink: 1;
                    text-align: center;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .category-tab-contents__location {
            .swiper {
                @include media-queries($from: xl) {
                    height: 100%;

                    &-wrapper {
                        display: grid;
                        grid-template-columns: repeat(9, 1fr);
                    }
                }
            }

            @each $code, $width in ('a', 17, 35), ('b', 32, 27), ('c', 22, 30), ('d', 34, 29), ('e', 21, 33), ('f', 36, 27), ('g', 45, 19), ('h', 36, 25), ('i', 29, 29), ('j', 44, 23), ('k', 33, 35), ('l', 28, 24), ('m', 23, 33), ('n', 25, 34), ('o', 22, 36), ('p', 48, 25), ('q', 18, 33), {
                [data-theme="#{$code}"]::before {
                    width: #{$width}px;
                    height: 40px;
                    background-image: url("/travelmonth/assets/images/main/icon_category_location_#{$code}.png");
                    background-size: #{$width}px auto;
                }

                @media (hover: hover) {
                    [data-theme="#{$code}"]:hover::before {
                        background-image: url("/travelmonth/assets/images/main/icon_category_location_#{$code}_on.png");
                    }
                }
            }
        }

        .category-tab-contents__program {
            .swiper {
                @include media-queries($from: xl) {
                    height: 100%;

                    &-wrapper {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        align-content: center;
                    }
                }
            }

            @each $code, $width, $m-width, $m-height in ('a', 63, 30, 34), ('b', 60, 28, 33), ('c', 60, 29, 34), ('d', 71, 34, 33), ('e', 60, 28, 34), {
                [data-theme="#{$code}"]::before {
                    width: #{$width}px;
                    height: 74px;
                    background-image: url("/travelmonth/assets/images/main/icon_category_program_#{$code}.png");
                    background-size: #{$width}px auto;

                    @include media-queries($to: xl) {
                        width: #{$m-width}px;
                        height: #{$m-height}px;
                        background-size: #{$m-width}px auto;
                    }
                }

                @media (hover: hover) {
                    [data-theme="#{$code}"]:hover::before {
                        background-image: url("/travelmonth/assets/images/main/icon_category_program_#{$code}_on.png");
                    }
                }
            }


        }
    }

    &__trend {
        max-width: 1920px;
        margin: 0 auto;

        h2 {
            font: {
                family: "GmarketSans", sans-serif;
                weight: $font-weight-bold;
                size: 21px;
            }
            text-align: center;
        }

        @include media-queries($from: xl) {
            h2 {
                font-size: 42px;
            }
        }

        .trend-swiper {
            max-width: 1644px;
            margin: 50px auto 0;
            padding-left: 14px;
            box-sizing: border-box;

            @include media-queries($to: xl) {
                margin-top: 20px;
            }

            .swiper {
                &-slide {
                    width: auto;

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            a:hover {
                                span::after {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    aspect-ratio: 142/180;
                                    background: url(/travelmonth/assets/images/main/img_trend_on_#{$i}.png) no-repeat center/cover;
                                    content: '';
                                }
                            }
                        }
                    }

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            a {
                                span {
                                    background: {
                                        image: url(/travelmonth/assets/images/main/img_trend_#{$i}.png);
                                        position: center;
                                        repeat: no-repeat;
                                        size: cover;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(2n) {
                        padding-top: 20px;

                        @include media-queries($from: xl) {
                            padding-top: 40px;
                        }
                    }


                    a {
                        display: block;
                        position: relative;

                    }

                    span {
                        overflow: hidden;
                        display: block;
                        aspect-ratio: 142/180;
                    }

                    p {
                        padding-top: 16px;
                        color: #000;
                        font: {
                            weight: $font-weight-light;
                            size: 18px;
                        }
                        line-height: math.div(22, 18);
                        text-align: center;

                        @include media-queries($to: xl) {
                            padding-top: 8px;
                            font-size: 12px;
                        }
                    }
                }


                @include media-queries($to: 1640px) {

                    &-wrapper {
                        padding-bottom: 36px;
                    }

                    .swiper-scrollbar {
                        width: 100%;
                        height: 3px;
                        background: #dfdfdf;
                    }
                }


                .swiper-scrollbar-drag {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #4bc595;
                    border-radius: 10px;
                }
            }
        }
    }

    &__benefits {
        max-width: 1468px;
        margin: 0 auto;
        padding: 120px 14px 120px;

        @include media-queries($to: xl) {
            padding: 40px 14px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 9px;

            @include media-queries($from: xl) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            }

            li {

                @include media-queries($from: xl) {
                    &:last-of-type {
                        display: none;
                    }
                }

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        a {
                            background: {
                                image: url('/travelmonth/assets/images/main/img_benefits_#{$i}.png');
                                position: center;
                                repeat: no-repeat;
                                size: cover;
                            };
                        }
                    }
                }
            }

            a {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                aspect-ratio: 466/340;
                border-radius: 30px;
                color: #fff;
                text-align: center;

                div {
                    padding-top: 25px;

                    @include media-queries($from: xl) {
                        padding-top: 50px;
                    }

                    p {
                        &:first-of-type {
                            font: {
                                family: "GmarketSans", sans-serif;
                                weight: $font-weight-bold;
                                size: 13px;
                            }
                            line-height: 1;

                            @include media-queries($from: xl) {
                                font-size: 34px;
                            }
                        }

                        &:last-of-type {
                            padding-top: 8px;
                            font-size: 12px;

                            @include media-queries($from: xl) {
                                font-size: 22px;
                                line-height: math.div(30, 22);
                            }
                        }
                    }
                }
            }

        }
    }

    &__special {
        display: none;

        @include media-queries($from: xl) {
            display: block;
            background: #fff5b3 url(/travelmonth/assets/images/main/img_special_banner.jpg) no-repeat center;

            div {
                display: flex;
                justify-content: center;
                padding: 138px 0 25px 0;
                max-width: 1440px;
                margin: 0 auto;
            }

            a {
                width: 163px;
                height: 35px;
                background-color: #f3b831;
                border-radius: 17px;
                color: #fff;
                font: {
                    weight: $font-weight-light;
                    size: 18px;
                }
                line-height: 35px;
                text-align: center;
            }
        }

    }

    &__june {
        background-color: #eafaf6;

        > div {
            position: relative;
            max-width: 1468px;
            margin: 0 auto;
            padding: 30px 14px 40px;


            @include media-queries($from: xl) {
                padding: 120px 14px 140px 14px;

                &::after {
                    position: absolute;
                    bottom: 56px;
                    left: -178px;
                    width: 245px;
                    height: 215px;
                    background: url(/travelmonth/assets/images/main/img_june_people.png) no-repeat center;
                    content: '';
                }
            }

        }

        header {
            position: relative;
            padding-top: 46px;
            text-align: center;

            h2 {
                color: #000;
                font: {
                    family: "GmarketSans", sans-serif;
                    weight: $font-weight-bold;
                    size: 21px;
                }

                strong {
                    position: relative;
                    color: #37bf8a;
                }

                @include media-queries($from: xl) {
                    font-size: 42px;
                }
            }

            h2 + p {
                position: absolute;
                top: 0;
                left: calc(50% - 12px);
                width: 89px;
                height: 46px;
                background: url(/travelmonth/assets/images/main/img_june.png) no-repeat center;
            }
        }

        .june-contents {
            display: block;
            margin-top: 20px;

            @include media-queries($from: xl) {
                display: grid;
                grid-template-columns: 49.93055555556% 1fr;
                grid-column-gap: 47px;
                grid-row-gap: 28px;
                margin-top: 63px;
            }

            &__information {

                iframe {
                    width: 100%;
                    border: none;
                    border-radius: 32px;
                    aspect-ratio: 719/421;

                    @include media-queries($to: xxl) {
                        aspect-ratio: 16/9.95;
                    }
                }

                iframe + div {
                    display: flex;
                    align-items: flex-start;
                    grid-column-gap: 75px;
                    margin-top: 11px;
                    padding: 50px 14px 40px 47px;
                    border-radius: 32px;
                    background-color: #fff;

                    @include media-queries($to: xxl) {
                        padding: 23px 20px 16px;
                    }

                    @include media-queries($to: xl) {
                        display: block;
                    }

                    > div {
                        @include media-queries($to: xl) {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                        }

                        p {
                            font: {
                                family: "GmarketSans", sans-serif;
                                weight: $font-weight-bold;
                                size: 30px;
                            }

                            @include media-queries($to: xl) {
                                font-size: 15px;
                                br {
                                    display: none;
                                }
                            }
                        }

                        a {
                            display: inline-block;
                            padding-right: 16px;
                            background: url(/travelmonth/assets/images/main/icon_link_arrow_gray.png) no-repeat right top 1px/auto 11px;
                            color: #000;
                            font: {
                                weight: $font-weight-light;
                                size: 12px;
                            }

                            @include media-queries($from: xl) {
                                margin-top: 5px;
                                padding-right: 30px;
                                font-size: 18px;
                                line-height: math.div(32, 18);
                                background-size: auto 22px;
                            }
                        }
                    }

                    ul {
                        @include media-queries($to: xl) {
                            margin-top: 17px;
                        }
                    }

                    li {
                        &:nth-of-type(n+2) {
                            margin-top: 12px;

                            @include media-queries($from: xl) {
                                margin-top: 24px;
                            }

                        }

                        a {
                            display: flex;
                            align-items: flex-start;
                            color: #000;
                            font-weight: $font-weight-medium;
                            font-size: 12px;
                            @include line-clamp(12px * 1.6, 1);

                            &:hover {
                                color: #58b490;
                            }

                            @include media-queries($from: xl) {
                                font-size: 20px;
                            }

                        }

                        span {
                            display: inline-block;
                            padding-right: 15px;
                            color: #58b490;
                            font-weight: $font-weight-bold;
                        }
                    }

                }
            }

            &__tourist {
                @include media-queries($to: xl) {
                    margin-top: 14px;
                }

                &-banner {
                    padding-top: percentage(math.div(123, 673));
                    background: {
                        position: center;
                        repeat: no-repeat;
                        size: cover;
                    };
                }

                &-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 16px;
                    margin-top: 18px;

                    @include media-queries($to: xl) {
                        grid-gap: 10px;
                        margin-top: 15px;
                    }
                }

                &-item {
                    display: block;
                    position: relative;
                    padding-top: percentage(math.div(279, 327));
                    @for $i from 1 through 4 {
                        &:nth-child(#{$i}) {
                            //background: url('/travelmonth/assets/images/main/img_june_tourist_#{$i}.png');
                            background-repeat: no-repeat;
                            background-position: center top;
                            background-size: 100% auto;
                        }
                    }
                }

                &-text {
                    position: absolute;
                    bottom: 20px;
                    left: 17px;
                    color: #fff;
                    font: {
                        weight: $font-weight-medium;
                        size: 20px;
                    }

                    @include media-queries($to: xl) {
                        bottom: 10px;
                        left: 10px;
                        font-size: 12px;
                    }
                }

            }

        }
    }

    &__event {
        > div {
            //max-width: 1920px;
            //margin: 0 auto;
            padding: 34px 0 40px 0;

            @include media-queries($from: xl) {
                padding: 120px 0;
            }
        }

        .event-swiper {
            position: relative;
            margin-top: 24px;
            padding-left: 14px;

            @include media-queries($from: xl) {
                margin-top: 80px;
                margin-left: 240px;
                padding-left: 0;
            }

            .swiper {
                &-wrapper {
                    @include media-queries($to: xl) {
                        padding-bottom: 36px;
                    }
                }

                &-slide {
                    width: auto;

                    @include media-queries($from: xl) {
                        width: 17.96875%;

                        &:nth-of-type(2n) {
                            padding-top: 52px;
                        }
                    }

                    a {
                        display: block;
                        position: relative;
                        background: {
                            repeat: no-repeat;
                            position: center top;
                            size: contain;
                        };

                        &::before {
                            display: block;
                            padding-top: percentage(math.div(235, 345));
                            content: '';

                            @include media-queries($to: xl) {
                                padding-top: percentage(math.div(212, 310));
                            }
                        }

                        p {
                            padding-top: 8px;
                            color: #000;
                            font-size: 12px;

                            @include media-queries($from: xl) {
                                padding-top: 17px;
                                font-size: 24px;
                                line-height: math.div(32, 24);
                            }
                        }
                    }

                }

                .swiper-scrollbar {
                    @include media-queries($to: xl) {
                        width: 100%;
                        height: 3px;
                        background: #dfdfdf;
                    }
                }

                .swiper-scrollbar-drag {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #4bc595;
                    border-radius: 10px;
                }
            }

            &__paging {
                display: none;

                @include media-queries($to: xl) {
                    display: none;
                }

                &-prev,
                &-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 60px;
                    height: 60px;
                    background-color: #fff;
                    border: 2px solid #8c8c8c;
                    border-radius: 50%;
                    background: {
                        repeat: no-repeat;
                        position: center;
                        size: auto 25px;
                    };
                    cursor: pointer;
                    z-index: 10;
                }

                &-prev {
                    left: 10vw;
                    background-image: url(/travelmonth/assets/images/main/icon_button_prev.png);
                }

                &-next {
                    right: 10vw;
                    background-image: url(/travelmonth/assets/images/main/icon_button_next.png);
                }
            }

        }

    }

    &__organization {
        padding: 34px 0 25px;
        background-color: #f7f7f7;
        text-align: center;

        @include media-queries($from: xl) {
            padding: 90px 0 84px;
        }

        > div {
            max-width: 1920px;
            margin: 0 auto;
        }

        header + div {
            padding-top: 16px;

            @include media-queries($from: xl) {
                padding-top: 28px;
            }
        }

        .swiper {
            &_wrapper {
                align-items: center;
            }

            &-slide {
                width: auto;

                a {
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    text-align: center;
                }
            }
        }
    }

    &__travel {
        display: grid;


        @include media-queries($from: xl) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 1920px;
            margin: 0 auto;
        }

        div {
            order: 1;
            position: relative;

            &::before {
                display: block;
                padding-top: percentage(math.div(540, 960));
                content: '';
            }

            @include media-queries($to: xl) {
                &::before {
                    display: block;
                    padding-top: percentage(math.div(404, 719));
                    content: '';
                }
            }


            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: none;
                aspect-ratio: 16/9;

                @include media-queries($from: xl) {
                    max-width: 960px;
                }

            }
        }

        header {
            order: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #4bc595;
            color: #fff;
            text-align: center;

            @include media-queries($from: xl) {
                align-items: flex-start;
                padding-left: 95px;
                text-align: left;
            }

            @include media-queries($to: xl) {
                padding: 30px 0;
            }

            h2 {
                font: {
                    family: "GmarketSans", sans-serif;
                    weight: $font-weight-bold;
                    size: 23px;
                }

                @include media-queries($from: xl) {
                    font-size: 45px;
                }
            }

            p {
                padding-top: 4px;
                font: {
                    weight: $font-weight-light;
                    size: 13px;
                }
                line-height: math.div(34, 20);

                @include media-queries($from: xl) {
                    font-size: 24px;
                    line-height: math.div(34, 24);
                }

                strong {
                    weight: $font-weight-semiBold;

                    &:nth-of-type(2) {
                        padding-left: 6px;
                    }

                    @include media-queries($from: xl) {
                        &:nth-of-type(2) {
                            padding-left: 25px;
                        }
                    }

                }
            }

            a {
                display: inline-block;
                margin: 14px auto 0;
                padding-right: 16px;
                background: {
                    image: url(/travelmonth/assets/images/main/icon_link_arrow_white.png);
                    position: right 1px top 4px;
                    repeat: no-repeat;
                    size: auto 11px;
                };
                color: #fff;
                font: {
                    weight: $font-weight-light;
                    size: 12px;
                }
                line-height: math.div(32, 20);

                @include media-queries($from: xl) {
                    width: 196px;
                    margin: 25px 0 0;
                    padding-right: 30px;
                    background: {
                        position: right center;
                        size: auto 22px;
                    };
                    font-size: 18px;
                    line-height: math.div(32, 18);
                }
            }
        }
    }

    &__instagram {
        max-width: 1468px;
        margin: 0 auto;
        padding: 40px 0 60px 0;

        @include media-queries($from: xl) {
            padding: 120px 0 170px 0;
        }

        .instagram-swiper {
            padding: 28px 0 0 14px;

            @include media-queries($from: xl) {
                padding: 65px 14px 0 14px;
            }

            .swiper {
                &-wrapper {
                    @include media-queries($to: xl) {
                        padding-bottom: 36px;
                    }
                }

                &-slide {
                    width: auto;

                    @include media-queries($to: xl) {
                        max-width: 188px;
                        width: 100%;
                    }
                }

                .swiper-scrollbar {
                    @include media-queries($to: xl) {
                        width: 100%;
                        height: 3px;
                        background: #dfdfdf;
                    }
                }

                .swiper-scrollbar-drag {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #4bc595;
                    border-radius: 10px;
                }

            }

            a {
                display: block;
                padding-top: 100%;
                background: {
                    position: center;
                    repeat: no-repeat;
                    size: cover;
                }
            }
        }

    }

}