@use "sass:math";

.main {

    &__header {
        > * {
            color: #000;
        }

        h2 {
            font: {
                family: "GmarketSans", sans-serif;
                weight: $font-weight-bold;
                size: 42px;
            }
        }

        h2 + p {
            padding: 7px 0 10px 0;
            font: {
                weight: $font-weight-light;
                size: 24px;
            }
        }

        a {
            display: inline-block;
            margin-top: 3px;
            padding-right: 30px;
            background: url(/assets/images/main/icon_link_arrow_gray.png) no-repeat right center/auto 22px;
            font: {
                wieght: $font-weight-light;
                size: 18px;
            }
            line-height: math.div(32, 18);
        }
    }

    &__organization {
        padding: 90px 0 100px;
        background-color: #f7f7f7;
        text-align: center;

        header + div {
            padding-top: 28px;
        }
    }

    &__travel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div {
            order: 1;
            background-color: red;
        }

        header {
            order: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 95px;
            background-color: #4bc595;
            color: #fff;

            h2 {
                font: {
                    family: "GmarketSans", sans-serif;
                    weight: $font-weight-bold;
                    size: 45px;
                }
            }

            p {
                padding-top: 4px;
                font: {
                    weight: $font-weight-light;
                    size: 24px;
                }
                line-height: math.div(34, 24);

                strong {
                    weight: $font-weight-semiBold;

                    &:nth-of-type(2) {
                        padding-left: 25px;
                    }
                }
            }

            a {
                display: inline-block;
                width: 196px;
                margin-top: 25px;
                padding-right: 30px;
                background: url(/assets/images/main/icon_link_arrow_white.png) no-repeat right center/auto 22px;
                color: #fff;
                font: {
                    weight: $font-weight-light;
                    size: 18px;
                }
                line-height: math.div(32, 18);
            }
        }
    }

    &__instagram {
        max-width: 1440px;
        margin: 0 auto;
        padding: 117px 0 172px 0;

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
            padding-top: 65px;

            li {
                padding-top: 100%;
                background: {
                    size: cover;
                };
            }
        }
    }

}