:root {
    --site-padding-horizon: 14px;
    --site-header-height: 56px;
    --logo-travelmonth-width: 96px;
    --logo-travelmonth-height: var(--site-header-height);
    --site-content-padding: 0 14px 60px;
    --site-footer-padding-vertical: 20px;
    --site-footer-padding-horizon:  var(--site-padding-horizon);
    --site-footer-copyright-margin: 20px;
    --site-footer-logo-margin: 10px;
    --site-footer-logo-visitkorea-width: 90px;
    --site-footer-logo-mcst-width: 90px;
    --site-footer-logo-1330-width: 84px;
    --site-footer-logo-height: 38px;
    --benefits-local-header-padding: 36px 0 24px;
    --benefits-local-header-title-size: 30px;
    --benefits-local-header-content-size: 12px;
    --benefits-local-header-line: 1px;
    --benefits-list-column-size: 2;
    --benefits-list-column-gap: 8px;
    --benefits-list-row-gap: 20px;
    --benefits-list-thumbnail-radius: 12px;
    --modal-margin-top: calc(var(--site-header-height) + 10px);

    @include media-queries($from: md) {
        --benefits-list-column-size: 3;
        --benefits-list-column-gap: 20px;
        --benefits-list-row-gap: 50px;
        --benefits-list-thumbnail-radius: 28px;
    }

    @include media-queries($from: xl) {
        --site-padding-horizon: 30px;
        --site-header-height: 80px;
        --logo-travelmonth-width: 148px;
        --site-content-padding: 0 30px 240px;
        --site-footer-padding-vertical: 40px;
        --site-footer-copyright-margin: 40px;
        --site-footer-logo-margin: 20px;
        --site-footer-logo-visitkorea-width: 120px;
        --site-footer-logo-mcst-width: 120px;
        --site-footer-logo-1330-width: 112px;
        --site-footer-logo-height: 50px;
        --benefits-local-header-padding: 90px 0 36px;
        --benefits-local-header-title-size: 60px;
        --benefits-local-header-content-size: 20px;
        --benefits-local-header-line: 2px;
    }
}