@use "sass:math";

.special-list {
    > header {
        margin: 0 calc(-1 * var(--site-padding-horizon));
        padding: 0 var(--site-padding-horizon);
        background: {
            image: url(/travelmonth/assets/images/special/bg_header.png);
            repeat: no-repeat;
            position: center;
            size: cover;
        };

        @include media-queries($to: sm) {
            background: {
                image: url(/travelmonth/assets/images/special/bg_header_mo.png);
            };
        }

        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 1160px;
            height: 200px;
            margin: 0 auto;
            letter-spacing: -0.02em;

            @include media-queries($from: xl) {
                height: 372px;
                padding: 0 48px;
            }
        }

        h2 {
            font-weight: 500;
            font-family: GmarketSans, sans-serif;

            strong {
                display: block;
                font-weight: 500;
                font-size: 30px;

                @include media-queries($from: xl) {
                    font-size: 84px;
                }
            }

            span {
                font-style: normal;
                color: #d863b2;
            }
        }

        p {
            padding-top: 8px;
            font-size: 11px;

            @include media-queries($from: xl) {
                padding: 0 0 20px;
                font-size: 20px;
            }
        }
    }

    section {
        position: relative;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                width: calc(196px/ 2);
                height: calc(51px/ 2);
                border-radius: 25px;
                background-color: #db79c1;
                color: #fff;
                font-size: 12px;
                line-height: calc(51px/ 2);
                text-align: center;
            }
        }


        @include media-queries($from: lg) {
            margin: 70px calc(-1 * var(--site-padding-horizon)) -240px;
            padding: 0 var(--site-padding-horizon) 120px;
            background: url(/travelmonth/assets/images/special/bg_content.png) no-repeat center bottom;

            header {

                h3 {
                    width: 140px;
                    height: 36px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    line-height: 36px;
                }

                h3 + p {
                    margin-bottom: 40px;
                    font-size: 24px;
                }

                strong {
                    display: block;
                    font-size: 42px;
                }

                span {
                    color: #d863b2;
                }
            }

            > p {
                &:nth-of-type(1) {
                    margin: 22px 0 45px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                }

                &:nth-of-type(2) {
                    display: flex;
                    justify-content: center;

                    a {
                        display: block;
                        padding: 20px 60px 20px 36px;
                        border-radius: 30px;
                        background: #37bf8a url(/travelmonth/assets/images/special/icon_arrow.png) no-repeat right 36px center;
                        color: #fff;
                        font-size: 23px;
                        line-height: 1;
                    }

                }
            }
        }
    }

    dl {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 1108px;
        margin: 0 auto;
        text-align: center;

        div {
            display: flex;
            flex-direction: column;
            width: 217px;
            height: 262px;
            border: 1px solid #d3d3d3;
            border-radius: 32px;
            background-color: #fff;


            @for $i from 1 through 5 {
                &:nth-of-type(#{$i}) {
                    dt {
                        background-image: url(/travelmonth/assets/images/special/img_item_#{$i}.png);
                    }
                }
            }
        }

        > span {

        }
    }

    dt {
        padding-top: 100px;
        background: {
            repeat: no-repeat;
            position: center bottom 42px;
        };
        color: #303030;
        font-weight: bold;
        font-size: 24px;
        line-height: math.div(28, 24);
    }

    dd {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;

        span {
            display: block;
            margin-top: 24px;
            font-weight: 300;
            font-size: 16px;
        }
    }


}
