.skipnav
    a(href="#content") 본문 영역으로 바로가기
nav.quick-visitkorea
    div
        a(href="https://korean.visitkorea.or.kr" target="_blank")
            span 대한민국구석구석 바로가기
header.site-header
    div
        h1
            a(href="/")
                span 여행가는 달
        p
            button(type="button")
                span 메뉴
        nav
            ul
                li
                    a.site-header__nav--current-main(href="#") 여행가는 달이란?
                    div
                        ul
                            li
                                a(href="#") 여행가는 달 소개
                            li
                                a.site-header__nav--current-sub(href="#") 여행가는 달 참여기관
                li
                    a(href="#") 여행혜택
                    div
                        ul
                            li
                                a(href="#") 교통혜택
                            li
                                a(href="#") 숙박혜택
                            li
                                a(href="#") 놀거리혜택
                li
                    a(href="#") 여행트렌드관
                li
                    a(href="#") 여행상품 특별 기획전
                li
                    a(href="#") 이벤트
