block variables
    -
        const sidoList = [
            {code: '00', name: '전국'},
            {code: '01', name: '서울'},
            {code: '02', name: '부산'},
            {code: '03', name: '대구'},
            {code: '04', name: '인천'},
            {code: '05', name: '광주'},
            {code: '06', name: '대전'},
            {code: '07', name: '울산'},
            {code: '08', name: '세종'},
            {code: '09', name: '경기'},
            {code: '10', name: '강원'},
            {code: '11', name: '충북'},
            {code: '12', name: '충남'},
            {code: '13', name: '전북'},
            {code: '14', name: '전남'},
            {code: '15', name: '경북'},
            {code: '16', name: '경남'},
            {code: '17', name: '제주'},
        ];

        const themeList = [
            {code: '', name: '전체', tag: '전체'},
            {code: 'A', name: '농어촌/섬관광', tag: '농어촌<br>/섬관광'},
            {code: 'B', name: '힐링/웰니스', tag: '힐링<br>/웰니스'},
            {code: 'C', name: '친환경여행', tag: '친환경<br>여행'},
            {code: 'D', name: '살아보기여행(생활관광)', tag: '살아보기여행<br><span>(생활관광)</span>'},
            {code: 'E', name: '열린관광', tag: '열린<br>관광'},
            {code: 'F', name: 'K-Culture', tag: 'K-<br>Culture'},
            {code: 'G', name: '스포츠케이션', tag: '스포츠<br>케이션'},
            {code: 'H', name: '취미여행', tag: '취미<br>여행'},
            {code: 'I', name: '미식여행', tag: '미식<br>여행'},
            {code: 'J', name: '반려동물동반여행', tag: '반려동물<br>동반여행'},
        ];
doctype html
html(lang="ko")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title

            meta(name="author" content="")
            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="format-detection" content="telephone=no")
            meta(name="format-detection" content="address=no")
            meta(name="author" content="")

            meta(property="og:url" content="")
            meta(property="og:type" content="website")
            meta(property="og:title" content="")
            meta(property="og:image" content="")
            meta(property="og:description" content="")
            meta(property="og:site_name" content="")
            meta(property="og:locale" content="ko_KR")
            meta(property="article:author" content="")

            link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="32x32" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="16x16" href="/favicon.ico")

            script.
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 13);
                }

            link(rel="stylesheet" href="/assets/css/vendors.css")
            link(rel="stylesheet" href="/assets/css/app.css")

            script(src="/assets/js/vendors.js")
            script(src="/assets/js/app.js")
    body(id=`travelmonth${bodyId ? '-' + bodyId : ''}`)
        include header
        #container
            if bodyId && ['benefits', 'trend', 'special'].includes(bodyId.split('-')[0])
                .benefits
                    .benefits__container
                        include benefits-menu
                        .benefits__content
                            block body
            else
                block body
        include footer
