block variables

doctype html
html(lang="ko")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title

            meta(name="author" content="")
            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="format-detection" content="telephone=no")
            meta(name="format-detection" content="address=no")
            meta(name="author" content="")

            meta(property="og:url" content="")
            meta(property="og:type" content="website")
            meta(property="og:title" content="")
            meta(property="og:image" content="")
            meta(property="og:description" content="")
            meta(property="og:site_name" content="")
            meta(property="og:locale" content="ko_KR")
            meta(property="article:author" content="")

            link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="32x32" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="16x16" href="/favicon.ico")

            script.
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 13);
                }

            link(rel="stylesheet" href="/assets/css/vendors.css")
            link(rel="stylesheet" href="/assets/css/app.css")

            script(src="/assets/js/vendors.js")
            script(src="/assets/js/app.js")
    body
        .skipnav
            a(href="#content") 본문 영역으로 바로가기
        nav.quick-visitkorea
            div
                a(href="https://korean.visitkorea.or.kr" target="_blank")
                    span 대한민국구석구석 바로가기
        header.site-header
            div
                h1
                    a(href="/")
                        span 여행가는 달
                nav
                    ul
                        li
                            a(href="#") 여행가는 달이란?
        block body
