block variables
    -
        const sidoList = [
            {code: '00', name: '전국'},
            {code: '01', name: '서울'},
            {code: '02', name: '부산'},
            {code: '03', name: '대구'},
            {code: '04', name: '인천'},
            {code: '05', name: '광주'},
            {code: '06', name: '대전'},
            {code: '07', name: '울산'},
            {code: '08', name: '세종'},
            {code: '09', name: '경기'},
            {code: '10', name: '강원'},
            {code: '11', name: '충북'},
            {code: '12', name: '충남'},
            {code: '13', name: '전북'},
            {code: '14', name: '전남'},
            {code: '15', name: '경북'},
            {code: '16', name: '경남'},
            {code: '17', name: '제주'},
        ];

        const themeList = [
            {code: '', name: '전체', menuTag: '전체', content: '',},
            {code: 'A', name: '농어촌/섬관광', menuTag: '농어촌<br>/섬관광', content: '코로나19 이후 번잡하고 답답한 도시를 벗어나 휴식과 함께 새로운 경험, 잊지 못할 추억을 만드는 농어촌/섬 관광입니다.',},
            {code: 'B', name: '힐링/웰니스', menuTag: '힐링<br>/웰니스', content: '일상에 지친 심신을 위로하고 치유하는 한국관광공사가 추천하는 힐링/웰니스 관광입니다.',},
            {code: 'C', name: '친환경여행', menuTag: '친환경<br>여행', content: '환경이슈에 대한 관심이 증가하는 추세에 맞추어 플로깅, 해변정화, 무동력 수단 이용 등 작지만 의미있는 탄소줄이기를 실천해 보세요.',},
            {code: 'D', name: '살아보기여행(생활관광)', menuTag: '살아보기여행<br><span>(생활관광)</span>', content: '거주지가 아닌 다른 지역에서, 현지에서만 경험할 수 있는 먹거리와 볼거리, 문화를 즐기고, 현지인처럼 살아보는 듯한 감성을 느껴보는 여행입니다.',},
            {code: 'E', name: '열린관광', menuTag: '열린<br>관광', content: '누구나 누릴 수 있는 모두를 위한 장애물 없는 관광 “열린관광”, 한국관광공사가 추천하는 열린관광지를 따라 편안하고 안전한 여행을 하세요',},
            {code: 'F', name: 'K-Culture', menuTag: 'K-<br>Culture', content: '케이팝, 드라마를 넘어 이제는 예능, 웹툰,뷰티, 패션까지.<br>K-Culture는 계속해서 확장하고 있습니다.<br>K-Culture 200% 즐기러 떠나보세요!',},
            {code: 'G', name: '스포츠케이션', menuTag: '스포츠<br>케이션', content: '걷기, 등산 등 야외활동과 서핑, 열기구 등 국내 다양한 아웃도어 레저여행을 알려드립니다.',},
            {code: 'H', name: '취미여행', menuTag: '취미<br>여행', content: '나만의 취미를 여행과 함께 즐길 수 있는 여행입니다. 내 취미에 맞는 여행이 있는지 찾아보세요.',},
            {code: 'I', name: '미식여행', menuTag: '미식<br>여행', content: '지역의 숨겨진 맛을 찾아 떠나는 오감만족 식도락 미식여행입니다.',},
            {code: 'J', name: '반려동물동반여행', menuTag: '반려동물<br>동반여행', content: '반려동물과 함께 행복한 추억을 쌓을 수 있는 추천여행지를 소개합니다.',},
        ];

        const benefitsAddList = [
            {code: 'traffic', name: '교통혜택', content: '국내여행 준비중이라면<br>교통혜택을 챙겨가세요!', url: '/html/benefits/traffic.html'},
            {code: 'stay', name: '숙박혜택', content: '여행의 완성은 잠자리!<br>역대급 숙박혜택을 확인하세요', url: '/html/benefits/stay.html'},
            {code: 'play', name: '놀거리혜택', content: '놀거리혜택으로<br>풍성한 여행을 만들어가세요!', url: '/html/benefits/play.html'},
            {code: 'special', name: '여행상품<br>특별 기획전', content: '여행가는 달 기간동안<br>여행업계가 선보이는<br>각종 혜택들을 만나보세요.', url: '/html/special/list.html'},
        ];

        const listThumbnail = {
            goods: [
                {
                    thumbnail: 'thumbnail_1.png',
                    title: '[양양] 바다낚시 체험과 해변 플로깅 투어',
                    period: '5/24~6/20',
                    price: '40,000원~',
                    type: '당일',
                },
                {
                    thumbnail: 'thumbnail_2.png',
                    title: '섬 속의 섬 접도어촌체험마을',
                    period: '5/24~6/20',
                    price: '40,000원~',
                    type: '당일',
                },
                {
                    thumbnail: 'thumbnail_3.png',
                    title: '자연경관이 아름다운 가경주마을체험',
                    period: '5/24~6/20',
                    price: '40,000원~',
                    type: '숙박',
                }
            ],
            contents: [
                {
                    thumbnail: 'thumbnail_4.png',
                    title: '서대문형무소! 독립의 그날로 시간여행,<br>별을 따라 걷다'
                },
                {
                    thumbnail: 'thumbnail_5.png',
                    title: '국난을 슬기롭게 극복한 옥주,<br>슬기로운 옥주생활 1박2일'
                },
                {
                    thumbnail: 'thumbnail_6.png',
                    title: '산류천석! 그래 석오처럼 산류천석!<br>나를 깨우다'
                },
                {
                    thumbnail: 'thumbnail_7.png',
                    title: '울창한 숲과 여유로운 바다<br>충남 태안 용신마을'
                },
                {
                    thumbnail: 'thumbnail_8.png',
                    title: '동해와 해송의 콜라보<br>경북 울진 구산마을'
                },
                {
                    thumbnail: 'thumbnail_9.png',
                    title: '숲과 바다가 아름다운 어촌마을<br>경남 진도 접도마을'
                }
            ]
        };
doctype html
html(lang="ko")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title

            meta(name="author" content="")
            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="format-detection" content="telephone=no")
            meta(name="format-detection" content="address=no")
            meta(name="author" content="")

            meta(property="og:url" content="")
            meta(property="og:type" content="website")
            meta(property="og:title" content="")
            meta(property="og:image" content="")
            meta(property="og:description" content="")
            meta(property="og:site_name" content="")
            meta(property="og:locale" content="ko_KR")
            meta(property="article:author" content="")

            link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="32x32" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="16x16" href="/favicon.ico")

            script.
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 13);
                }

            link(rel="stylesheet" href="/assets/css/vendors.css")
            link(rel="stylesheet" href="/assets/css/app.css")

            script(src="/assets/js/vendors.js")
            script(src="/assets/js/app.js")
    body(id=`travelmonth${bodyId ? '-' + bodyId : ''}`)
        include header
        #container
            if bodyId && ['benefits', 'trend', 'special'].includes(bodyId.split('-')[0])
                .benefits
                    .benefits__container
                        include benefits-menu
                        .benefits__content
                            block body
            else
                block body
        include footer
