extends ../components/layout

append variables
    - const bodyId = 'special-list';

block body
    article.special-list
        header
            div
                h2
                    strong.
                        #[span 여행상품]<br>
                        특별 기획전
                p 쿠폰할인으로 저렴하게<br>여행 패키지 상품도 즐기고
        section
            header
                h3 6월 여행가는 달
                p.
                    여행업계가 선보이는 <br>
                    대한민국 구석구석 100여개의 여행상품을<br>
                    #[strong #[span 30% 할인 가격]으로 <br>이용해 보세요.]
            dl
                span.icon-man
                span.icon-plane
                div
                    dt 참여사(상품)
                    dd 총 56개 여행사 101개<br>여행상품
                div
                    dt 구매기간
                    dd.
                        5.17~6.30
                        #[span *단, 사정에 따라 이용 구매 기간 일부 변동 가능]

                div
                    dt 상품 이용 기간
                    dd.
                        6.1~7.15
                        #[span *단, 사정에 따라 이용 기간 일부 변동 가능]

                div
                    dt 쿠폰 할인금액
                    dd.
                        상품 가격의 30%
                        #[span *최대 5만원까지 할인]
                div
                    dt 할인 적용 기간
                    dd 상품별 정부 지원금<br>소진 시까지
            div
                p ※ 보다 자세한 내용은 G마켓 홈페이지 내 여행상품 특별 기획전에서 확인해 주세요.
                p
                    a(href="#")
                        span 여행상품 특별 기획전 입장하기










